@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.RecipeContainer>
@using ContentModels = Umbraco.Web.PublishedModels;
@{

    Layout = "master.cshtml";

    var categrories = Model.Children<RecipeFolder>();

    <section class="section">
            <div class="container recipe-container">
                <h1>@Model.Name</h1>
                <p>
                    Easy search for the right recipe for today! 
                </p>
                @if (categrories.Any())
                {
                    <div>
                        <button class="btn btn-primary dropdown-toggle col-6" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Select category
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu col-4" aria-labelledby="dropdown">
                            @foreach (var cat in categrories)
                            {
                                <li>@cat.Name</li>
                                <ul>
                                    @foreach (Recipe recipe in cat.Children)
                                    {
                                        <li><a href="@recipe.Url">@recipe.Name</a></li>
                                    }
                                </ul>

                            }
                        </ul>
                    </div>
                }
        </div>
    </section>
}

