#myCarousel .carousel-caption {
    background: rgba(0, 0, 0, 0.6) !important;
    padding: 1em;
}

footer {
    padding: 6px 10px;
    margin-top: 20px;
    border-top: 1px solid #d3d3d3;
}

.recipe-container ul.dropdown-menu {
    top: 0em;
    left: 0.5em;
    padding: 1em;
    background: #f1f1f1;
}